<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
      integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
      crossorigin="anonymous"
    />
    <title>SignUp</title>
  </head>
  <body>
    <header class="header bg-dark text-white p-3 d-flex flex-row">
      <h1 class="ml-5">App</h1>

      <ul class="nav ml-auto">
        <li>
          Create Account
          <input
            type="button"
            id="sign"
            class="active"
            href="/views/signup.html"
            value="SignUp"
            style="cursor: pointer"
          />
        </li>
        <li>
          <input
            type="button"
            id="login"
            href="/views/login.html"
            value="Login"
            style="cursor: pointer"
          />
        </li>
      </ul>
    </header>
    <div class="card card-body m-auto w-50 align-items-center">
      <form
        action="/views/signup.html"
        method="post"
        onsubmit="signUp(event)"
        class="d-flex flex-column w-50"
      >
        Username:<input
          type="text"
          id="username"
          placeholder="username"
          required
        /><br />
        Email:<input
          type="text"
          id="email"
          placeholder="Email"
          required
        /><br />
        Password:<input
          type="password"
          id="password"
          placeholder="password"
          required
        /><br />
        <button
          value="SignUp"
          class="bg-dark text-white"
          style="cursor: pointer"
        >
          SignUp
        </button>

        <a href="/views/login.html" class="text-danger">Existing Account?</a>
      </form>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"></script>
    <script src="script.js"></script>
  </body>
</html>
